<!DOCTYPE html>
<html>
<head>
	<title>Taste meta</title>
</head>
<body>

<h1>Hello, sir!</h1>

<p>
Which URL should I analyze?

</p>

<form method="post">
	<input type="url" name="url"/>
	<input type="submit" value="analyze it!">
</form>
</body>
</html>