<!DOCTYPE html>
<html>
<head>
<% @metas.each do |meta| %>
<% meta.each do |key, value| %>
  <% unless key == 'og:url' %>
  <meta content="<%=value%>" property="<%=key%>" />
  <% end %>
<% end %>
<% end %>
</head>
<body>
</body>
</html>